#intro {
    background-image: url("../media/wallpaperbetter.com_1920x1080.jpg");
    height: 100%;
    min-height: 100vh;
    background-attachment: fixed;

}

/*Height for devices larger than 576px*/
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
    padding-bottom: 0;
}

.backcolor {
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
}

table
{
    margin-left : 100px;
}